---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 8
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 2

AlignAfterOpenBracket: DontAlign  # TODO reconsider
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: true
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Linux
CommentPragmas: '^lint '
---
# TODO clang-format 15 supports `InsertBraces: true`!! But it inserts braces on single lines. :-(
